{% extends "base.html" %}

{% block title %}
    {{ g.user['username'] }} - Profile
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block header %}
    {{ self.title() }}
{%  endblock %}

{% block content %}
    <section class="user info">
        <table class="user data">
            <tr>
                <th scope="row">Member Since: </th>
                <td>{{ datetime.date.fromisoformat(str(user['date_joined'])).__format__("%b %d, %Y") }}</td>
            </tr>
            <tr>
                <th scope="row">Number of Reports: </th>
                <td>{{ num_of_reports }}</td>
            </tr>
        </table>
    </section>
    <section class="user report">
       {% include 'report/new-report.html' %}
    </section>
{% endblock %}