.content.sub {
    width: 100%;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
}

.data.map {
    width: 100%;
    height: 75%;
    background-color: #333;
    text-align: center;
}

.data.sidebar {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: white;
}

.data.footer {
    width: 100%;
    height: 25%;
}

.self.map {
    width: 100%;
    height: 100%;
    max-height: 610px;
    max-width: 975px;
}

.tbl.report {
    margin: 0 auto;
}

.tile.report {
    width: 20%;
    min-width: 200px;
    height: 100%;
    margin: 0em .25em;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #333;
    color: antiquewhite;
}
